<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/utils/resolve-url.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<!-- <link rel="import" type="stylesheet" href="./bower_components/components-font-awesome/css/all.css"> -->
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" href="../fa.css"> -->


<dom-module id="header-tony">
  <template>
    <style>
      :host {
        display: block;
        height: 60px;
        background-color: #112f91;
        color: #fdfdfd;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 15px;
        box-sizing: border-box;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      }

      :host .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        margin: 0 10px;
      }

      :host .title {
        text-align: center;
        font-size: 1.8em;
        font-weight: 600;
      }

      :host .logo {
        max-height: 30px;
        object-fit: fill;
      }

    </style>
    <div class="container">
      <img src="https://www.stickpng.com/assets/images/58481623cef1014c0b5e497d.png" class="logo" alt="">
      <span class="title">[[title]]</span>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/768px-Google_%22G%22_Logo.svg.png" class="logo" alt="">
    </div>
  </template>

  <script>
    /**
     * `header-tony`
     * Simple header with two buttons and a title
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HeaderTony extends Polymer.Element {
      static get is() { return 'header-tony'; }

      ready() {
        super.ready();
        this.set('polymerimg', Polymer.ResolveUrl.pathFromUrl('images/polymer.png')) ;
      }

      static get properties() {
        return {
          title: {
            type: String,
            value: 'Write a Title'
          }
        };
      }
    }

    window.customElements.define(HeaderTony.is, HeaderTony);
  </script>
</dom-module>
